# Dependencias
node_modules/
.pnp/
.pnp.js

# Producción
dist/
build/

# Variables de entorno
.env
.env.local
.env.production

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Vite
.vite/

# Archivos de caché
.eslintcache